// Rem output with px fallback
@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}

@mixin transition($args) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin button($bgColor: $color__brand-primary, $bdColor: $color__brand-primary, $textColor: white) {
	@include font-size(14px);
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	color: $textColor;
	background: $bgColor;
	border: 2px solid $bdColor;
	padding: 8px 30px;
	border-radius: 28px;
	box-shadow: none;
	text-shadow: none;
	display: inline-block;
	line-height: 1.5;
	@include tablet-up {
		@include font-size(16px);
	}
	&:hover,
	&:focus,
	&:active {
		color: $textColor;
		background: lighten($bgColor, 3%);
		text-decoration: none;
		border: 2px solid $bdColor;
		cursor: pointer;
	}
	&:visited {
		color: $textColor;
	}
}

@mixin glow($color) {
	box-shadow: 0 3px 20px rgba($color, 0.8);
}

@mixin glow-hover($color) {
	&:hover,
	&:focus,
	&:active {
		box-shadow: 0 5px 15px rgba($color, 0.4);
	}
}

@mixin hover {
	&:hover,
	&:focus,
	&:active {
		@content;
	}
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin content-wrapper {
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
	@include tablet-up {
		padding: 0 20px;
	}
}

$mobile-width: 568px;
$tablet-width: 768px;
$desktop-width: 1024px;
$lgscreen-width: 1280px;
@mixin mobile-only {
	@media screen and (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin mobile-up {
	@media screen and (min-width: #{$mobile-width}) {
		@content;
	}
}

@mixin tablet-up {
	@media screen and (min-width: #{$tablet-width}) {
		@content;
	}
}

@mixin tablet-only {
	@media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin desktop-up {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin lgscreen-up {
	@media (min-width: #{$lgscreen-width}) {
		@content;
	}
}
