body.post-type-product.edit-php {
	.wp-list-table {
		.manage-column, .column-thumb, .column-name, .column-sku, .column-is_in_stock, .column-price, .column-product_cat, .column-product_tag, .column-featured, .column-product_type, .column-date {
			display: table-cell;
		}
	}
}
