$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #e0e2ea;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #c01823;
$color__link-visited: darken(#c01823, 5%);
$color__link-hover: darken(#c01823, 5%);
$color__text-main: #696d77;
//$color__text-main: #818799;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__brand-primary: #c01823;
$color__brand-secondary: black;
$color__brand-tertiary: #01b7aa;
$color__brand-gray-med: #696969;
