.site-footer {
  border-top: 1px solid $color__background-hr;
  text-transform: uppercase;
  font-weight: 500;
  padding: 30px 0;
}
.footer-wrap {
  max-width: $size_site-width-lg;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.bottom-menu {
  padding-top: 10px;
  @include lgscreen-up {
    padding-top: 0;
    border-top: 0;
    float: right;
  }
  > div {
    display: inline-block;
    vertical-align: middle;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px 0 0;
      @include desktop-up {
        padding: 0 15px;
      }
      &.current_page_item > a {
        color: black;
      }
      a {
        display: inline-block;
        text-decoration: none;
        color: $color__text-main;
        &:hover,
        &:focus {
          color: black;
        }
      }
    }
  }
  .follow-wrap {
    padding-top: 10px;
    @include mobile-up {
      padding-top: 0;
    }
    a {
      color: white;
      display: inline-block;
      width: 30px;
      height: 30px;
      background: $color__text-main;
      border-radius: 50%;
      text-align: center;
      line-height: 2;
      &:hover,
      &:focus {
        color: white;
        background: black;
      }
    }
  }
}
