.site-header {
  background: black;
  padding: 14px 0;
  @include desktop-up {
    padding: 20px 0;
  }
}

.header-wrap {
  max-width: $size_site-width-lg;
  @include content-wrapper;
}

#header-logo-wrap {
  h1 {
    margin: 0;
    font-size: 2em;
    line-height: 1;
    text-align: center;
    @include desktop-up {
      padding-top: 6px;
      text-align: left;
    }
  }
  a {
    display: inline-block;
  }
}

#header-logo {
  width: 168px;
  height: 24px;
  @include desktop-up {
    width: 240px;
    height: 34px;
  }
}

#nav-inner {
  @include desktop-up {
    display: table;
    width: 100%;
    & > div {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.main-navigation {
  &.toggled {
    ul {
      display: block;
    }
  }
  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    @include desktop-up {
      display: block;
      float: right;
    }
    &#top-menu {
      @include desktop-up {
        padding-right: 20px;
      }
      > li {
        > a {
          padding: 10px 0;
        }
        > ul.sub-menu:before {
          @include desktop-up {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 8.7px 5px;
            border-color: transparent transparent white transparent;
            top: -8px;
            left: 20px;
          }
        }
      }
    }
    ul.sub-menu {
      @include desktop-up {
        -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        background: white;
        float: left;
        position: absolute;
        padding: 10px 0;
        top: 42px;
        left: -999em;
        z-index: 99999;
        ul {
          left: -999em;
          top: 0;
        }
        li {
          padding: 0;
          margin-bottom: 1px;
          &:last-child {
            margin-bottom: 0;
          }
          &:hover > ul,
          &.focus > ul {
            left: 100%;
            margin-left: 0;
            margin-top: -10px;
          }
        }
        a {
          width: 140px;
          padding: 5px 20px;
          box-sizing: content-box;
          text-transform: none;
          &:hover,
          &:focus {
            color: black;
            background: $color__background-screen;
          }
        }
        :hover > a,
        .focus > a {}
        a:hover,
        a.focus {}
        .current_page_item > a,
        .current-menu-item > a {
          color: black;
        }
      }
    }
    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
    > li {
      @include desktop-up {
        padding: 0 10px;
      }
    }
  }
  li {
    float: left;
    position: relative;
    &:hover > a,
    &.focus > a {}
    a {
      display: inline-block;
      text-decoration: none;
      font-weight: 500;
      color: $color__brand-gray-med;
      text-transform: uppercase;
      &:hover,
      &:focus {
        color: white;
      }
      &.menu-login {
        margin-right: 5px;
        &:after {
          content: '/';
          color: $color__brand-gray-med !important;
          margin-left: 5px;
        }
      }
      &.menu-profile {
        text-transform: capitalize;
      }
    }
  }
  .current_page_item > a,
  .current-menu-item > a {
    color: white;
  }
  .profile-img {
    display: inline-block;
    vertical-align: middle;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 8px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .header-cta {
    display: none;
    @include desktop-up {
      display: block;
      width: 160px;
      text-align: right;
    }
  }
}

.menu-toggle {
  display: block;
  position: absolute;
  top: 14px;
  left: 10px;
  background: none;
  border: none;
  padding: 5px;
  @include desktop-up {
    display: none;
  }
}

.menu-toggle-icon,
.menu-toggle-text {
  display: inline-block;
  vertical-align: middle;
}

.menu-toggle-icon {
  width: 30px;
  height: 25px;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 9px;
    }
    &:nth-child(4) {
      top: 18px;
    }
  }
  &.open {
    span:nth-child(1) {
      top: 9px;
      width: 0%;
      left: 50%;
    }
    span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    span:nth-child(4) {
      top: 9px;
      width: 0%;
      left: 50%;
    }
  }
}

.menu-toggle-text {
  display: none;
  margin-left: 6px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  @include tablet-up {
    display: inline-block;
  }
}

#mobile-navigation {
  background: lighten(black, 10%);
  background: #1e5799;
  background: -moz-linear-gradient(left, lighten(black, 10%) 0%, lighten(black, 10%) 96%, lighten(black, 8%) 100%);
  background: -webkit-linear-gradient(left, lighten(black, 10%) 0%, lighten(black, 10%) 96%, lighten(black, 8%) 100%);
  background: linear-gradient(to right, lighten(black, 10%) 0%, lighten(black, 10%) 96%, lighten(black, 8%) 100%);
  padding: 15px 0 20px;
  display: none;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      &.current_page_item > a {
        background: $color__brand-primary;
      }
      a {
        color: white;
        padding: 10px 20px;
        border-bottom: 1px solid lighten(black, 8%);
        display: block;
        text-decoration: none;
      }
    }
  }
  .header-cta {
    padding-top: 20px;
    text-align: center;
  }
}

//Slideout Menu
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open #mobile-navigation.slideout-menu {
  display: block;
}
