// Slide Down
body {
	position: relative;
	&.slidedown {
		#page {
			margin-top: 390px;
		}
		.content-auth-wrap {
			height: 390px;
		}
		&.slidedown-error {
			#page {
				margin-top: 410px;
			}
			.content-auth-wrap {
				height: 410px;
				top: -410px;
			}
		}
	}
	#page {
		transition: 0.5s margin-top;
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 390px;
			bottom: 100%;
			background: #1f1f1f;
		}
	}
}

.content-auth-wrap {
	height: 0;
	position: absolute;
	top: -390px;
	left: 0;
	width: 100%;
	transition: 0.5s height;
	background: #1f1f1f;
	z-index: 1;
}

.content-auth-close {
	position: absolute;
	top: 30px;
	right: 10px;
	font-size: 20px;
	color: $color__brand-gray-med;
}

.content-auth-inner {
	position: relative;
	width: 100%;
	margin: 0 auto;
	max-width: 600px;
	padding: 10px;
	h3 {
		counter-reset: step-counter;
		border-bottom: 2px solid #000;
		padding-bottom: 20px;
		margin-bottom: 30px;
		color: white;
		span {
			color: $color__brand-gray-med;
			margin-right: 30px;
			display: inline-block;
			&:before {
				content: counter(step-counter);
				counter-increment: step-counter;
				color: #1f1f1f;
				background: $color__brand-gray-med;
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 1.25;
				display: inline-block;
				vertical-align: middle;
				border-radius: 50%;
				margin-right: 10px;
			}
			&.active {
				color: white;
				&:before {
					color: white;
					background: $color__brand-primary;
				}
			}
		}
	}
	a {
		color: white;
	}
	.login-tab,
	.register-tab,
	.signup-section,
	.info-section {
		display: none;
		&.open {
			display: block;
		}
	}
	.login-tab {
		max-width: 400px;
		margin: 0 auto;
	}
	.signup-section {
		button {
			float: right;
		}
	}
	#buddypress .standard-form#signup_form {
		.form-group {
			width: 49%;
			float: left;
			&:nth-of-type(even) {
				margin-left: 1%;
			}
			&:nth-of-type(odd) {
				margin-right: 1%;
			}
			&:last-of-type {
				clear: right;
			}
		}
		.form-group-wide {
			width: 100%;
			clear: both;
			input[type=password] {
				width: 49%;
				float: left;
				margin-right: 1%;
				&:last-child {
					margin-right: 0;
					margin-left: 1%;
				}
			}
		}
	}
}

.close-slidedown {
	cursor: pointer;
}

// Auth Pages
body.page-template-page-auth {
	background: #f2f2f2;
	#page {
		background: #f2f2f2;
	}
	.content-auth-box {
		background: white;
		border: 1px solid $color__background-hr;
		border-radius: 5px;
		padding: 10px 10px 20px;
		max-width: 400px;
		margin: 20px auto;
		-webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
		@include tablet-up {
			padding: 20px 20px 40px;
			margin: 60px auto;
		}
		@include desktop-up {
			margin: 80px auto;
		}
		h2 {
			text-align: center;
			border-bottom: 2px solid $color__brand-primary;
			padding-bottom: 20px;
			margin-bottom: 30px;
		}
		&.content-auth-box-wide {
			@include tablet-up {
				max-width: 600px;
				#buddypress .standard-form#signup_form {
					.form-group {
						width: 49%;
						float: left;
						&:nth-of-type(even) {
							margin-left: 1%;
						}
						&:nth-of-type(odd) {
							margin-right: 1%;
						}
						&:last-of-type {
							clear: right;
						}
					}
					.form-group-wide {
						width: 100%;
						clear: both;
						input[type=password] {
							width: 49%;
							float: left;
							margin-right: 1%;
							&:last-child {
								margin-right: 0;
								margin-left: 1%;
							}
						}
					}
				}
			}
		}
	}
}
