.content-loop {
	border-bottom: 1px solid $color__background-hr;
	padding-bottom: 30px;
	margin-bottom: 24px;
	&:last-child {
		margin-bottom: 0;
		border-bottom: 0;
	}
	.content-title {
		span {
			font-weight: 100;
			@include font-size(18px);
			font-style: italic;
		}
	}
	.content-subtitle {
		color: black;
		text-transform: uppercase;
	}
}

.faq-section {
	border-bottom: 1px solid $color__background-hr;
	&:last-child {
		border-bottom: none;
	}
	h2 {
		text-transform: lowercase;
	}
}

.faq-list {
	list-style: none;
	margin: 0;
	.faq-question,
	.faq-answer {
		position: relative;
		&:before {
			position: absolute;
			left: -28px;
			color: $color__brand-primary;
			font-family: $font__heading;
			@include font-size(18px);
			font-weight: 600;
		}
	}
	.faq-question {
		font-family: $font__main;
		@include font-size(16px);
		font-weight: 600;
		color: black;
		margin: 20px 0;
		@include tablet-up {
			@include font-size(22px);
		}
		&:before {
			content: "Q.";
		}
	}
	.faq-answer {
		margin: 20px 0 40px;
		&:before {
			content: "A.";
		}
	}
}

.content-instructor {
	text-align: center;
	margin-bottom: 10px;
	a {
		display: block;
		text-decoration: none;
		&:hover,
		&:focus {
			img {
				opacity: 0.7;
			}
		}
	}
	img {
		width: 100%;
		height: auto;
		display: block;
		@include transition(opacity 0.3s);
	}
	@include tablet-up {
		padding: 0 10px;
		width: 50%;
		float: left;
	}
	@include desktop-up {
		width: 25%;
	}
}

.content-community {
	margin-bottom: 10px;
	a {
		text-decoration: none;
		display: block;
		position: relative;
		background: black;
		&:hover,
		&:focus {
			img {
				//opacity: 0.7;
			}
		}
	}
	img {
		width: 100%;
		height: auto;
		display: block;
		//@include transition(opacity 0.3s);
	}
	@include tablet-up {
		padding: 0 10px;
		width: 50%;
		float: left;
	}
	@include desktop-up {
		width: 25%;
	}
	.content-community-inner {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 10px;
			left: 10px;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background: $color__brand-primary;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			color: white;
			font-size: 15px;
			line-height: 30px;
			text-align: center;
			z-index: 1;
		}
		&.instagram:before {
			content: '\f16d';
		}
		&.text:before {
			content: '\f1ea';
		}
		&.video:before {
			content: '\f04b';
		}
	}
	.community-content-caption {
		position: absolute;
		color: white;
		padding: 10px;
		bottom: 0;
		width: 100%;
		background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
		h3 {
			color: white;
		}
	}
}
