.page-submenu {
	padding: 20px 0;
	border-bottom: 1px solid $color__background-hr;
	margin: -20px 0 20px;
	ul {
		padding: 0;
		margin: 0;
		text-align: center;
		li {
			display: block;
			@include tablet-up {
				display: inline-block;
				padding: 0 10px;
			}
			@include desktop-up {
				padding: 0 20px;
			}
			&.current_page_item a {
				color: black;
			}
			a {
				display: inline-block;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 500;
				color: $color__text-main;
				&:hover,
				&:focus {
					color: black;
				}
			}
		}
	}
}

.page-template-page-faq {
	.page-submenu {
		ul li {
			@include tablet-up {
				padding: 8px 6px;
				a {
					padding: 5px 6px;
					border-radius: $border-radius;
					background: $color__background-hr;
				}
			}
		}
	}
}
