/* line 1, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid {
  display: table;
  margin: 0 auto;
  counter-reset: active-spots;
}
/* line 4, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid * {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 12, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-row {
  display: table-row;
}

/* line 16, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-cell {
  display: table-cell;
  width: 45px;
  height: 45px;
  padding: 10px;
  line-height: 45px;
  text-align: center;
}
/* line 23, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-cell:hover {
  cursor: pointer;
}
/* line 29, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-cell.active .classcal-seating-grid-spot, .classcal-seating-grid-cell.available .classcal-seating-grid-spot, .classcal-seating-grid-cell.selected .classcal-seating-grid-spot {
  display: block;
}
/* line 34, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-cell.active .classcal-seating-grid-spot {
  background: #d4d9e2;
}
/* line 39, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-cell.available .classcal-seating-grid-spot {
  background: white;
  border: 1px solid #c02026;
}
/* line 45, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-cell.selected .classcal-seating-grid-spot {
  border: 1px solid #c02026;
  background: #c02026;
  color: white;
}

/* line 53, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-spot {
  display: none;
  border-radius: 50%;
  overflow: hidden;
  font-weight: bold;
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 64, ../../sass/classcal/_seating-grid.scss */
body.wp-admin .classcal-instructor {
  margin: 0 auto 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
/* line 70, ../../sass/classcal/_seating-grid.scss */
body.wp-admin .classcal-instructor img {
  width: 100%;
  height: auto;
}
/* line 75, ../../sass/classcal/_seating-grid.scss */
body.wp-admin .classcal-seating-grid-outer {
  margin-bottom: 20px;
}
/* line 80, ../../sass/classcal/_seating-grid.scss */
body.wp-admin.post-type-studios .classcal-seating-grid-outer {
  background: #f1f1f1;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 20px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
/* line 89, ../../sass/classcal/_seating-grid.scss */
body.wp-admin.post-type-studios .classcal-seating-grid {
  background: white;
  border: 1px solid #e5e5e5;
}
/* line 93, ../../sass/classcal/_seating-grid.scss */
body.wp-admin.post-type-studios .classcal-seating-grid-row:last-child .classcal-seating-grid-cell {
  border-bottom: none;
}
/* line 96, ../../sass/classcal/_seating-grid.scss */
body.wp-admin.post-type-studios .classcal-seating-grid-cell {
  width: 45px;
  height: 45px;
  padding: 10px;
  line-height: 45px;
  border-right: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
}
/* line 103, ../../sass/classcal/_seating-grid.scss */
body.wp-admin.post-type-studios .classcal-seating-grid-cell:last-child {
  border-right: none;
}
/* line 106, ../../sass/classcal/_seating-grid.scss */
body.wp-admin.post-type-studios .classcal-seating-grid-cell.active .classcal-seating-grid-spot:before {
  counter-increment: active-spots;
  content: counter(active-spots);
}

/* --------------------------------

Main Components

-------------------------------- */
/* line 12, ../../sass/classcal/classcal-client.scss */
.cd-schedule {
  position: relative;
  margin: 2em 0;
  line-height: 1;
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #222222;
  background-color: white;
}
/* line 22, ../../sass/classcal/classcal-client.scss */
.cd-schedule::before {
  /* never visible - this is used in js to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 800px) {
  /* line 12, ../../sass/classcal/classcal-client.scss */
  .cd-schedule {
    width: 90%;
    max-width: 1400px;
    margin: 2em auto;
  }
  /* line 39, ../../sass/classcal/_mixins.scss */
  .cd-schedule::after {
    clear: both;
    content: "";
    display: block;
  }
  /* line 32, ../../sass/classcal/classcal-client.scss */
  .cd-schedule::before {
    content: 'desktop';
  }
}
/* line 36, ../../sass/classcal/classcal-client.scss */
.cd-schedule *,
.cd-schedule *::after,
.cd-schedule *::before {
  box-sizing: border-box;
}
/* line 41, ../../sass/classcal/classcal-client.scss */
.cd-schedule a {
  color: #A2B9B2;
  text-decoration: none;
}
/* line 45, ../../sass/classcal/classcal-client.scss */
.cd-schedule div,
.cd-schedule span,
.cd-schedule applet,
.cd-schedule object,
.cd-schedule iframe,
.cd-schedule h1,
.cd-schedule h2,
.cd-schedule h3,
.cd-schedule h4,
.cd-schedule h5,
.cd-schedule h6,
.cd-schedule p,
.cd-schedule blockquote,
.cd-schedule pre,
.cd-schedule a,
.cd-schedule abbr,
.cd-schedule acronym,
.cd-schedule address,
.cd-schedule big,
.cd-schedule cite,
.cd-schedule code,
.cd-schedule del,
.cd-schedule dfn,
.cd-schedule em,
.cd-schedule img,
.cd-schedule ins,
.cd-schedule kbd,
.cd-schedule q,
.cd-schedule s,
.cd-schedule samp,
.cd-schedule small,
.cd-schedule strike,
.cd-schedule strong,
.cd-schedule sub,
.cd-schedule sup,
.cd-schedule tt,
.cd-schedule var,
.cd-schedule b,
.cd-schedule u,
.cd-schedule i,
.cd-schedule center,
.cd-schedule dl,
.cd-schedule dt,
.cd-schedule dd,
.cd-schedule ol,
.cd-schedule ul,
.cd-schedule li,
.cd-schedule fieldset,
.cd-schedule form,
.cd-schedule label,
.cd-schedule legend,
.cd-schedule table,
.cd-schedule caption,
.cd-schedule tbody,
.cd-schedule tfoot,
.cd-schedule thead,
.cd-schedule tr,
.cd-schedule th,
.cd-schedule td,
.cd-schedule article,
.cd-schedule aside,
.cd-schedule canvas,
.cd-schedule details,
.cd-schedule embed,
.cd-schedule figure,
.cd-schedule figcaption,
.cd-schedule footer,
.cd-schedule header,
.cd-schedule hgroup,
.cd-schedule menu,
.cd-schedule nav,
.cd-schedule output,
.cd-schedule ruby,
.cd-schedule section,
.cd-schedule summary,
.cd-schedule time,
.cd-schedule mark,
.cd-schedule audio,
.cd-schedule video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* line 131, ../../sass/classcal/classcal-client.scss */
.cd-schedule ol,
.cd-schedule ul {
  list-style: none;
}
/* line 135, ../../sass/classcal/classcal-client.scss */
.cd-schedule blockquote,
.cd-schedule q {
  quotes: none;
}
/* line 139, ../../sass/classcal/classcal-client.scss */
.cd-schedule blockquote:before,
.cd-schedule blockquote:after,
.cd-schedule q:before,
.cd-schedule q:after {
  content: '';
  content: none;
}
/* line 146, ../../sass/classcal/classcal-client.scss */
.cd-schedule table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 152, ../../sass/classcal/classcal-client.scss */
.cd-schedule .timeline {
  display: none;
}
@media only screen and (min-width: 800px) {
  /* line 152, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .timeline {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 50px;
  }
  /* line 162, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .timeline li {
    position: relative;
    height: 50px;
  }
  /* line 165, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .timeline li::after {
    /* this is used to create the table horizontal lines */
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #EAEAEA;
  }
  /* line 175, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .timeline li:last-of-type::after {
    display: none;
  }
  /* line 178, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .timeline li span {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  /* line 185, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .timeline li::after {
    width: calc(100% - 60px);
    left: 60px;
  }
  /* line 189, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .timeline li span {
    display: inline-block;
    transform: translateY(-50%);
  }
  /* line 193, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .timeline li:nth-of-type(2n) span {
    display: none;
  }
}

/* line 200, ../../sass/classcal/classcal-client.scss */
.cd-schedule .events {
  position: relative;
  z-index: 1;
}
/* line 203, ../../sass/classcal/classcal-client.scss */
.cd-schedule .events .events-group {
  margin-bottom: 30px;
}
/* line 206, ../../sass/classcal/classcal-client.scss */
.cd-schedule .events .top-info {
  width: 100%;
  padding: 0 5%;
}
/* line 209, ../../sass/classcal/classcal-client.scss */
.cd-schedule .events .top-info > span {
  display: inline-block;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: bold;
}
/* line 216, ../../sass/classcal/classcal-client.scss */
.cd-schedule .events .events-group > ul {
  position: relative;
  padding: 0 5%;
  /* force its children to stay on one line */
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
/* line 223, ../../sass/classcal/classcal-client.scss */
.cd-schedule .events .events-group > ul::after {
  /* never visible - used to add a right padding to .events-group > ul */
  display: inline-block;
  content: '-';
  width: 1px;
  height: 100%;
  opacity: 0;
  color: transparent;
}
/* line 233, ../../sass/classcal/classcal-client.scss */
.cd-schedule .events .single-event {
  /* force them to stay on one line */
  flex-shrink: 0;
  float: left;
  height: 150px;
  width: 70%;
  max-width: 300px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  transition: opacity .2s, background .2s;
}
/* line 243, ../../sass/classcal/classcal-client.scss */
.cd-schedule .events .single-event:last-of-type {
  margin-right: 5%;
}
/* line 246, ../../sass/classcal/classcal-client.scss */
.cd-schedule .events .single-event a {
  display: block;
  height: 100%;
  padding: .8em;
}
@media only screen and (min-width: 550px) {
  /* line 253, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .events .single-event {
    width: 40%;
  }
}
@media only screen and (min-width: 800px) {
  /* line 200, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .events {
    float: left;
    width: 100%;
  }
  /* line 260, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .events .events-group {
    width: 20%;
    float: left;
    border: 1px solid #EAEAEA;
    /* reset style */
    margin-bottom: 0;
  }
  /* line 266, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .events .events-group:not(:first-of-type) {
    border-left-width: 0;
  }
  /* line 270, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .events .top-info {
    /* vertically center its content */
    display: table;
    height: 50px;
    border-bottom: 1px solid #EAEAEA;
    /* reset style */
    padding: 0;
  }
  /* line 277, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .events .top-info > span {
    /* vertically center inside its parent */
    display: table-cell;
    vertical-align: middle;
    padding: 0 .5em;
    text-align: center;
    /* reset style */
    font-weight: normal;
    margin-bottom: 0;
  }
  /* line 288, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .events .events-group > ul {
    height: 950px;
    /* reset style */
    display: block;
    overflow: visible;
    padding: 0;
  }
  /* line 39, ../../sass/classcal/_mixins.scss */
  .cd-schedule .events .events-group > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  /* line 296, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .events .events-group > ul::after {
    /* reset style */
    display: none;
  }
  /* line 301, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .events .single-event {
    position: absolute;
    z-index: 3;
    /* top position and height will be set using js */
    width: calc(100% + 2px);
    left: -1px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    /* reset style */
    flex-shrink: 1;
    height: auto;
    max-width: none;
    margin-right: 0;
  }
  /* line 313, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .events .single-event a {
    padding: 1.2em;
  }
  /* line 316, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .events .single-event:last-of-type {
    /* reset style */
    margin-right: 0;
  }
  /* line 320, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .events .single-event.selected-event {
    /* the .selected-event class is added when an user select the event */
    visibility: hidden;
  }
}
@media only screen and (min-width: 1000px) {
  /* line 200, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .events {
    /* 60px is the .timeline element width */
    width: calc(100% - 60px);
    margin-left: 60px;
  }
}

/* line 333, ../../sass/classcal/classcal-client.scss */
.cd-schedule.loading .events .single-event {
  /* the class .loading is added by default to the .cd-schedule element
  it is removed as soon as the single events are placed in the schedule plan (using javascript) */
  opacity: 0;
}

/* line 339, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-name,
.cd-schedule .event-date {
  display: block;
  color: white;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 347, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-name {
  font-size: 2.4rem;
}
@media only screen and (min-width: 800px) {
  /* line 347, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .event-name {
    font-size: 2rem;
  }
}

/* line 354, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-date {
  /* they are not included in the the HTML but added using JavScript */
  font-size: 1.4rem;
  opacity: .7;
  line-height: 1.2;
  margin-bottom: .2em;
}

/* line 362, ../../sass/classcal/classcal-client.scss */
.cd-schedule .single-event[data-event="event-1"],
.cd-schedule [data-event="event-1"] .header-bg {
  /* this is used to set a background color for the event and the modal window */
  background: #577F92;
}

/* line 368, ../../sass/classcal/classcal-client.scss */
.cd-schedule .single-event[data-event="event-1"]:hover {
  background: #618da1;
}

/* line 372, ../../sass/classcal/classcal-client.scss */
.cd-schedule .single-event[data-event="event-2"],
.cd-schedule [data-event="event-2"] .header-bg {
  background: #443453;
}

/* line 377, ../../sass/classcal/classcal-client.scss */
.cd-schedule .single-event[data-event="event-2"]:hover {
  background: #513e63;
}

/* line 381, ../../sass/classcal/classcal-client.scss */
.cd-schedule .single-event[data-event="event-3"],
.cd-schedule [data-event="event-3"] .header-bg {
  background: #A2B9B2;
}

/* line 386, ../../sass/classcal/classcal-client.scss */
.cd-schedule .single-event[data-event="event-3"]:hover {
  background: #b1c4be;
}

/* line 390, ../../sass/classcal/classcal-client.scss */
.cd-schedule .single-event[data-event="event-4"],
.cd-schedule [data-event="event-4"] .header-bg {
  background: #f6b067;
}

/* line 395, ../../sass/classcal/classcal-client.scss */
.cd-schedule .single-event[data-event="event-4"]:hover {
  background: #f7bd7f;
}

/* line 399, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  /* Force Hardware acceleration */
  transform: translateZ(0);
  transform: translateX(100%);
  transition: transform .4s, visibility .4s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}
/* line 412, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal .header {
  position: relative;
  height: 70px;
  /* vertically center its content */
  display: table;
  width: 100%;
}
/* line 418, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal .header .content {
  position: relative;
  z-index: 3;
  /* vertically center inside its parent */
  display: table-cell;
  vertical-align: middle;
  padding: .6em 5%;
}
/* line 427, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal .body {
  position: relative;
  width: 100%;
  /* 70px is the .header height */
  height: calc(100% - 70px);
}
/* line 433, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal .event-info {
  position: relative;
  z-index: 2;
  line-height: 1.4;
  height: 100%;
  overflow: hidden;
}
/* line 439, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal .event-info > div {
  overflow: auto;
  height: 100%;
  padding: 1.4em 5%;
}
/* line 445, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal .header-bg,
.cd-schedule .event-modal .body-bg {
  /* these are the morphing backgrounds - visible on desktop only */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* line 454, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal .body-bg {
  z-index: 1;
  background: white;
  transform-origin: top left;
}
/* line 459, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal .header-bg {
  z-index: 2;
  transform-origin: top center;
}
/* line 463, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal .close {
  /* this is the 'X' icon */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.1);
  /* replace text with icon */
  color: transparent;
  white-space: nowrap;
  text-indent: 100%;
  height: 70px;
  width: 70px;
}
/* line 476, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal .close::before, .cd-schedule .event-modal .close::after {
  /* these are the two lines of the 'X' icon */
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 489, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal .close::before {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
/* line 492, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal .close::after {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
/* line 496, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal .event-date {
  display: none;
}
/* line 499, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal.no-transition {
  transition: none;
}
/* line 501, ../../sass/classcal/classcal-client.scss */
.cd-schedule .event-modal.no-transition .header-bg,
.cd-schedule .event-modal.no-transition .body-bg {
  transition: none;
}
@media only screen and (min-width: 800px) {
  /* line 399, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .event-modal {
    /* reset style */
    right: auto;
    width: auto;
    height: auto;
    transform: translateX(0);
    will-change: transform, width, height;
    transition: height .4s, width .4s, transform .4s, visibility .4s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  /* line 515, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .event-modal .header {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
  }
  /* line 521, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .event-modal .header .content {
    /* reset style */
    display: block;
    padding: .8em;
  }
  /* line 527, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .event-modal .event-info > div {
    padding: 2em 3em 2em 2em;
  }
  /* line 530, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .event-modal .body {
    height: 100%;
    width: auto;
  }
  /* line 534, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .event-modal .header-bg,
  .cd-schedule .event-modal .body-bg {
    /* Force Hardware acceleration */
    transform: translateZ(0);
    will-change: transform;
    backface-visibility: hidden;
  }
  /* line 541, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .event-modal .header-bg {
    transition: transform .4s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
  /* line 545, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .event-modal .body-bg {
    opacity: 0;
    transform: none;
  }
  /* line 549, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .event-modal .event-date {
    display: block;
  }
  /* line 552, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .event-modal .close,
  .cd-schedule .event-modal .event-info {
    opacity: 0;
  }
  /* line 556, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .event-modal .close {
    width: 40px;
    height: 40px;
    background: transparent;
  }
  /* line 560, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .event-modal .close::after, .cd-schedule .event-modal .close::before {
    background: #222222;
    height: 16px;
  }
}
@media only screen and (min-width: 1000px) {
  /* line 568, ../../sass/classcal/classcal-client.scss */
  .cd-schedule .event-modal .header .content {
    padding: 1.2em;
  }
}

/* line 574, ../../sass/classcal/classcal-client.scss */
.cd-schedule.modal-is-open .event-modal {
  /* .modal-is-open class is added as soon as an event is selected */
  transform: translateX(0);
  visibility: visible;
}
/* line 578, ../../sass/classcal/classcal-client.scss */
.cd-schedule.modal-is-open .event-modal .event-info > div {
  /* smooth scroll on iOS touch devices */
  -webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 800px) {
  /* line 585, ../../sass/classcal/classcal-client.scss */
  .cd-schedule.animation-completed .event-modal .close,
  .cd-schedule.content-loaded.animation-completed .event-modal .event-info {
    /* 	the .animation-completed class is added when the modal animation is completed
    the .content-loaded class is added when the modal content has been loaded (using ajax) */
    opacity: 1;
    transition: opacity .2s;
  }

  /* line 592, ../../sass/classcal/classcal-client.scss */
  .cd-schedule.modal-is-open .body-bg {
    opacity: 1;
    transition: transform .4s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
}
/* line 599, ../../sass/classcal/classcal-client.scss */
.cd-schedule .cover-layer {
  /* layer between the content and the modal window */
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}

/* line 613, ../../sass/classcal/classcal-client.scss */
.cd-schedule.modal-is-open .cover-layer {
  opacity: 1;
  visibility: visible;
}
