/* line 2, ../../sass/classcal/_admin.scss */
.classcal p.description {
  color: #777777;
  display: block;
  font-size: 12px;
  line-height: 1.4em;
  font-style: normal;
  margin: 3px 0 0 !important;
  padding: 0 !important;
}
/* line 10, ../../sass/classcal/_admin.scss */
.classcal p.description b, .classcal p.description strong {
  color: black;
}

/* line 1, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid {
  display: table;
  margin: 0 auto;
  counter-reset: active-spots;
}
/* line 4, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid * {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 12, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-row {
  display: table-row;
}

/* line 16, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-cell {
  display: table-cell;
  width: 45px;
  height: 45px;
  padding: 10px;
  line-height: 45px;
  text-align: center;
}
/* line 23, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-cell:hover {
  cursor: pointer;
}
/* line 29, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-cell.active .classcal-seating-grid-spot, .classcal-seating-grid-cell.available .classcal-seating-grid-spot, .classcal-seating-grid-cell.selected .classcal-seating-grid-spot {
  display: block;
}
/* line 34, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-cell.active .classcal-seating-grid-spot {
  background: #d4d9e2;
}
/* line 39, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-cell.available .classcal-seating-grid-spot {
  background: white;
  border: 1px solid #c02026;
}
/* line 45, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-cell.selected .classcal-seating-grid-spot {
  border: 1px solid #c02026;
  background: #c02026;
  color: white;
}

/* line 53, ../../sass/classcal/_seating-grid.scss */
.classcal-seating-grid-spot {
  display: none;
  border-radius: 50%;
  overflow: hidden;
  font-weight: bold;
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 64, ../../sass/classcal/_seating-grid.scss */
body.wp-admin .classcal-instructor {
  margin: 0 auto 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}
/* line 70, ../../sass/classcal/_seating-grid.scss */
body.wp-admin .classcal-instructor img {
  width: 100%;
  height: auto;
}
/* line 75, ../../sass/classcal/_seating-grid.scss */
body.wp-admin .classcal-seating-grid-outer {
  margin-bottom: 20px;
}
/* line 80, ../../sass/classcal/_seating-grid.scss */
body.wp-admin.post-type-studios .classcal-seating-grid-outer {
  background: #f1f1f1;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 20px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
/* line 89, ../../sass/classcal/_seating-grid.scss */
body.wp-admin.post-type-studios .classcal-seating-grid {
  background: white;
  border: 1px solid #e5e5e5;
}
/* line 93, ../../sass/classcal/_seating-grid.scss */
body.wp-admin.post-type-studios .classcal-seating-grid-row:last-child .classcal-seating-grid-cell {
  border-bottom: none;
}
/* line 96, ../../sass/classcal/_seating-grid.scss */
body.wp-admin.post-type-studios .classcal-seating-grid-cell {
  width: 45px;
  height: 45px;
  padding: 10px;
  line-height: 45px;
  border-right: 1px dotted #ddd;
  border-bottom: 1px dotted #ddd;
}
/* line 103, ../../sass/classcal/_seating-grid.scss */
body.wp-admin.post-type-studios .classcal-seating-grid-cell:last-child {
  border-right: none;
}
/* line 106, ../../sass/classcal/_seating-grid.scss */
body.wp-admin.post-type-studios .classcal-seating-grid-cell.active .classcal-seating-grid-spot:before {
  counter-increment: active-spots;
  content: counter(active-spots);
}
