.classcal {
	p.description {
		color: #777777;
		display: block;
		font-size: 12px;
		line-height: 1.4em;
		font-style: normal;
		margin: 3px 0 0 !important;
		padding: 0 !important;
		b, strong {
			color: black;
		}
	}
}
