.classcal-seating-grid {
	display: table;
	margin: 0 auto;
	* {
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	counter-reset: active-spots;
}

.classcal-seating-grid-row {
	display: table-row;
}

.classcal-seating-grid-cell {
	display: table-cell;
	width: 45px;
	height: 45px;
	padding: 10px;
	line-height: 45px;
	text-align: center;
	&:hover {
		cursor: pointer;
	}
	&.active,
	&.available,
	&.selected {
		.classcal-seating-grid-spot {
			display: block;
		}
	}
	&.active {
		.classcal-seating-grid-spot {
			background: #d4d9e2;
		}
	}
	&.available {
		.classcal-seating-grid-spot {
			background: white;
			border: 1px solid #c02026;
		}
	}
	&.selected {
		.classcal-seating-grid-spot {
			border: 1px solid #c02026;
			background: #c02026;
			color: white;
		}
	}
}

.classcal-seating-grid-spot {
	display: none;
	border-radius: 50%;
	overflow: hidden;
	font-weight: bold;
	width: 100%;
	height: 100%;
	position: relative;
}

body.wp-admin {
	.classcal-instructor {
		margin: 0 auto 20px;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	.classcal-seating-grid-outer {
		margin-bottom: 20px;
	}
	&.post-type-studios {
		// Studios page
		.classcal-seating-grid-outer {
			background: #f1f1f1;
			margin-top: 10px;
			margin-bottom: 0;
			padding: 20px;
			border: 1px solid #e5e5e5;
			-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
			box-shadow: 0 1px 1px rgba(0,0,0,.04);
		}
		.classcal-seating-grid{
			background: white;
			border: 1px solid #e5e5e5;
		}
		.classcal-seating-grid-row:last-child .classcal-seating-grid-cell {
			border-bottom: none;
		}
		.classcal-seating-grid-cell {
			width: 45px;
			height: 45px;
			padding: 10px;
			line-height: 45px;
			border-right: 1px dotted #ddd;
			border-bottom: 1px dotted #ddd;
			&:last-child {
				border-right: none;
			}
			&.active .classcal-seating-grid-spot:before {
				counter-increment: active-spots;
				content: counter(active-spots);
			}
		}
	}
}
