body.page-template-page-buy-classes {
	p.featured-text {
		text-align: center;
	}
}

.buy-class-row {
	@include tablet-up {
		margin: 30px 0 40px 0;
		display: flex;
		flex-wrap: wrap;
		> div {
			padding: 0 10px;
			width: 32%;
			margin: 1%;
			&:nth-of-type(3n) {
				margin-right: 0;
			}
			&:nth-of-type(3n+1) {
				margin-left: 0;
			}
		}
	}
	> div {
		margin-bottom: 20px;
	}
}

.product-media {
	//border: 1px solid $color__background-hr;
	border-radius: $border-radius;
	overflow: hidden;
	@include tablet-up {
		height: 100%;
		position: relative;
		padding-bottom: 100px;
	}
	@include glow($color__background-hr);
	.product-media-image {
		height: 260px;
	}
	.product-media-top,
	.product-media-bottom {
		padding: 20px;
		@include tablet-up {
			padding: 30px;
		}
	}
	.product-media-top {
		h1,
		h3 {
			text-transform: lowercase;
			line-height: 1;
		}
		h1 {
			@include font-size(52px);
			margin: -10px 0 20px;
			@include tablet-up {
				@include font-size(72px);
			}
		}
		h3 {
			@include font-size(28px);
			margin: 0 0 20px;
			@include tablet-up {
				@include font-size(42px);
			}
		}
		h4 {
			@include font-size(20px);
			margin: 0 0 20px;
			@include tablet-up {
				@include font-size(24px);
			}
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				margin: 6px 0;
				&:before {
					content: '\f00c';
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					color: white;
					background: $color__border-abbr;
					border-radius: 50%;
					font-size: 10px;
					padding: 3px;
					margin-right: 8px;
				}
			}
		}
	}
	.product-media-bottom {
		color: white;
		background: black;
		overflow: hidden;
		@include tablet-up {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
		span {
			font-family: $font__heading;
			@include font-size(28px);
			font-weight: 700;
			text-transform: lowercase;
			@include tablet-up {
				@include font-size(36px);
				line-height: 0.7;
			}
		}
		a {
			float: right;
		}
	}
	&.product-giftcard {
		.product-media-bottom {
			text-align: center;
			a {
				float: none;
			}
		}
	}
}
