.instructor-info-wrap {
	overflow: hidden;
}
.instructor-info {
	h3 {
		margin-top: 0;
		line-height: 1.2;
	}
	@include tablet-up {
		width: 50%;
		float: left;
		h3{
			@include font-size(24px);
		}
	}
}
.instructor-tracks-outer {
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 0 20px;
	@include desktop-up {
		margin-bottom: 0;
	}
}
.instructor-img-wrap {
	text-align: center;
}

body.single-instructors{
	.content-body {
		position: relative;
	}
	.content-main-right {
		h1 {
			@include mobile-only {
				margin-bottom: 135%;
			}
		}
	}
	.content-main-left {
		@include mobile-only {
		 position: absolute;
			top: 40px;
			left: 0;
		}
		@include tablet-up {
			margin-top: 20px;
		}
	}
}
.instructor-track {

}
.instructor-track-inner {

}
