html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	width: 100%;
	height: 100%;
}
#page {
	background: $color__background-body;
}
.content-body {
	max-width: $size_site-width;
	@include content-wrapper;
	&.wide {
		max-width: none;
	}
}

// @import "content-sidebar";
// @import "sidebar-content";

/*--------------------------------------------------------------
## Grid
--------------------------------------------------------------*/
@import "grid";
/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
@import "posts";

/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
@import "pages";

/*--------------------------------------------------------------
## Loop
--------------------------------------------------------------*/
@import "../components/loop";
/*--------------------------------------------------------------
## Instructors
--------------------------------------------------------------*/
@import "instructors";
/*--------------------------------------------------------------
## Login/Register
--------------------------------------------------------------*/
@import "../components/login-register";
/*--------------------------------------------------------------
## Studios
--------------------------------------------------------------*/
@import "studios";
/*--------------------------------------------------------------
## User Profiles
--------------------------------------------------------------*/
@import "profile";
/*--------------------------------------------------------------
## Buy Classes
--------------------------------------------------------------*/
@import "buy_classes";
/*--------------------------------------------------------------
## Shop
--------------------------------------------------------------*/
@import "shop";
/*--------------------------------------------------------------
## Modal
--------------------------------------------------------------*/
@import "../components/modal";
