.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

body.page,
body.archive,
body.single-careers,
body.single-community,
body.error404 {
	.content-header {
		padding: 20px 0;
		text-align: center;
		margin-bottom: 20px;
		&.show-header-bg {
			//background: $color__background-hr;
			background: #000 url(../images/header-bg.jpg) no-repeat center center;
			background-size: cover;
			/*@include tablet-up {
				padding: 30px 0 40px;
			}
			@include desktop-up {
				padding: 40px 0 60px;
			}*/
			h1 {
				color: white;
				text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.7);
			}
		}
		h1 {
			margin: 0;
		}
	}
	.content-body {
		overflow: hidden;
		margin-bottom: 20px;
		@include tablet-up {
			margin-bottom: 30px;
		}
	}
}

body.single-community {
	.content-body {
		max-width: 800px;
	}
	.entry-content {
		padding-top: 30px;
	}
}

body.page.page-template-page-how-it-works {
	.content-body {
		text-align: center;
		h2 {
			font-family: "Roboto";
		}
		.page-submenu {
			margin-bottom: 2em;
			@include desktop-up {
				margin-bottom: 3em;
			}
		}
		.steps {
			margin: 2.5em 0 2em;
			@include desktop-up {
				margin: 4em 0 2.5em;
			}
		}
		.step-icon img {
			border-radius: 50%;
			overflow: hidden;
		}
	}
}

body.page-template-page-instructors,
body.page-template-page-community {
	.content-body {
		margin-top: 10px;
		@include tablet-up {
			margin-top: 20px;
		}
		@include desktop-up {
			margin-top: 30px;
		}
	}
}

.content-main-wrap {
	overflow: hidden;
}

.staggered-headline {
	font-family: $font__intro;
	text-transform: uppercase;
	text-align: center;
	@include font-size(20px);
	color: black;
	margin: 20px 0;
	@include tablet-up {
		text-align: left;
		@include font-size(28px);
		.left-headline {}
		.right-headline {
			margin-left: 30%;
		}
	}
	@include desktop-up {
		margin-top: 0;
		@include font-size(36px);
	}
}

.content-main-right {
	h1 {
		line-height: 1;
		@include tablet-up {
			line-height: 1;
		}
	}
	@include desktop-up {
		padding-right: 10px;
		width: 50%;
		float: left;
	}
}

.content-main-left {
	@include desktop-up {
		padding-left: 10px;
		width: 50%;
		float: left;
	}
}

body.error404 {
	.content-body {
		text-align: center;
		max-width: 600px;
	}
}
