#content-member-header {
	padding: 40px 0;
	text-align: center;
	background: #000 url(../images/header-bg.jpg) no-repeat center center;
	background-size: cover;
	@include tablet-up {
		//padding: 60px 0 80px;
	}
	@include desktop-up {
		//padding: 90px 0 110px;
	}
	h2 {
		color: white;
		margin: 0;
	}
	#item-header-avatar {
		a {
			display: inline-block;
			overflow: hidden;
			border-radius: 50%;
			width: 150px;
			height: 150px;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

#content-member-nav {
	div.item-list-tabs ul {
		text-align: center;
		background: black;
		li {
			display: inline-block;
			float: none;
			&.current a,
			&.selected a {
				background-color: $color__brand-primary;
				color: white;
				opacity: 1;
				font-weight: 500;
				@include hover {
					background-color: $color__brand-primary;
					color: white;
				}
			}
			a {
				color: #696d77;
				padding: 20px;
				font-weight: 500;
				text-transform: uppercase;
				@include hover {
					background-color: transparent;
					color: white;
					opacity: 1;
					font-weight: 500;
				}
			}
		}
	}
}

#content-member-body {
	div.item-list-tabs#subnav {
		margin: 0;
		ul {
			text-align: center;
			background-color: $color__brand-primary;
			padding: 10px 0;
			li {
				display: inline-block;
				float: none;
				&.current a,
				&.selected a,
				&.is-active a {
					background-color: darken($color__brand-primary, 5%);
					color: white;
					opacity: 1;
					font-weight: 500;
					@include hover {
						background-color: darken($color__brand-primary, 5%);
						color: white;
					}
				}
				&.woocommerce-MyAccount-navigation-link--dashboard {
					display: none;
				}
				a {
					background-color: $color__brand-primary;
					color: lighten($color__brand-primary, 50%);
					padding: 10px 20px;
					font-weight: 500;
					text-transform: uppercase;
					margin: 0 5px;
					border-radius: 4px;
					@include hover {
						background-color: darken($color__brand-primary, 5%);
						color: white;
						opacity: 1;
						font-weight: 500;
					}
				}
			}
		}
	}
	.content-member-body-inner {
		background: white;
		border: 1px solid $color__background-hr;
		border-radius: 5px;
		padding: 10px 10px 20px;
		max-width: 1024px;
		margin: 20px auto;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
		@include tablet-up {
			padding: 20px 20px 40px;
			margin: 20px auto 60px;
		}
		@include desktop-up {
			margin: 20px auto 80px;
		}
		h2 {
			text-align: center;
			border-bottom: 2px solid $color__brand-primary;
			padding-bottom: 20px;
			margin-bottom: 30px;
		}
	}
}

body.buddypress.profile,
body.buddypress.my-account,
body.buddypress.classes,
body.page-template-page-my-account {
	#page {
		background: #f2f2f2;
	}
}

body.buddypress.settings {
	#content-member-body {
		div.item-list-tabs#subnav ul li {
			display: none;
		}
	}
}

body.buddypress.profile-edit,
body.buddypress.settings,
body.change-avatar {
	#content-member-body {
		.content-member-body-inner {
			max-width: 600px;
		}
	}
}

#buddypress #profile-edit-form {
	h4 {
		display: none;
	}
	ul.button-nav {
		margin: 0 0 20px;
		padding: 0;
		display: block;
		overflow: hidden;
		li {
			margin: 0 10px 0 0;
			&.current {
				a {
					font-weight: normal;
					@include button($color__background-button, $color__background-button, $color__text-main);
				}
			}
			a {
				font-size: normal;
				@include button(transparent, $color__background-button, $color__text-main);
			}
		}
	}
}
