body.single-studios {
	.content-body {
		@include desktop-up {
			padding-top: 40px;
		}
	}
	.studio-info-wrap {
		h3 a {
			text-decoration: none;
			font-family: $font__main;
			font-weight: 400;
			font-size: 14px;
			font-style: italic;
			text-transform: none;
		}
	}
}
