body,
#buddypress,
.woocommerce {
	button.button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	a.button,
	button.button.alt,
	a.button.alt,
	input.button.alt,
	.so-panel .so-widget-sow-button .ow-button-base a.button {
		@include button();
		&.button-alt {
			@include button(transparent, red, red);
			&:hover,
			&:focus {
				background: transparent;
			}
		}
		&.button-blk {
			@include button(transparent, black, black);
			&:hover,
			&:focus {
				background: transparent;
			}
		}
		&.button-blk-filled {
			@include button(black, black, white);
			&:hover,
			&:focus {
				background: black;
			}
		}
		&.button-wht {
			@include button(transparent, white, white);
			&:hover,
			&:focus {
				background: transparent;
			}
		}
		&.button-wht-filled {
			@include button(white, white, black);
			&:hover,
			&:focus {
				background: white;
			}
		}
		&.button-glow {
			@include glow-hover($color__brand-primary);
		}
	}
}

.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
	color: white;
}
