@mixin form-fields {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea {
		color: $color__text-input;
		border: 1px solid $color__border-input;
		border-radius: 3px;
		background: #ffffff;
		padding: 10px;
		width: 100%;
		margin-bottom: 10px;
		&:focus {
			color: $color__text-input-focus;
		}
	}
	select {
		border: 1px solid $color__border-input;
	}
	textarea {
		padding: 10px;
		width: 100%;
	}
	label {
		font-weight: 400;
	}
}

body,
#buddypress .standard-form {
	@include form-fields;
}

#buddypress .standard-form {
	label {
		display: none;
		&.accept_tos {
			display: inline-block;
		}
	}
	input[type=checkbox] {
		display: inline-block;
	}
	&#signup_form {
		input[type=text],
		textarea {
			width: 100%;
		}
		div.submit {
			float: none;
			width: 100%;
			overflow: hidden;
			text-align: center;
			@include tablet-up {
				text-align: left;
			}
			input[type=submit] {
				margin-top: 10px;
				@include tablet-up {
					margin-top: 5px;
					float: right;
				}
			}
		}
	}
	div.submit {
		input {
			margin-right: 0;
		}
	}
}

.tml {
	max-width: none;
	input,
	textarea,
	select {
		margin-top: 0;
	}
	label {
		display: none;
	}
}

.tml-login .tml-rememberme-submit-wrap {
	margin-top: 15px;
}

#buddypress .standard-form#signup_form div div.error {
	background: #faa;
	color: #a00;
	margin: 0 0 10px;
	padding: 6px;
	width: 100%;
}

.content-body .gform_wrapper {
	max-width: 600px;
	margin: 20px auto;
}
