.slick-slider {
	margin: 0;
	padding: 0;
	list-style: none;
	&.carousel {
		.slick-slide {
			padding: 0 10px;
		}
		.slick-arrow {
			color: $color__background-hr;
		}
		.slick-prev {
			left: -20px;
		}
		.slick-next {
			right: -20px;
		}
	}
	img {
		width: 100%;
		height: auto;
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		z-index: 10;
		background: none;
		border: none;
	}
	.slick-prev {
		left: 0;
	}
	.slick-next {
		right: 0;
	}
}

#home-slider {
	margin: 0;
	padding: 0;
	opacity: 0;
	transition: 1s opacity;
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&.loaded {
		opacity: 1;
	}
}

body.page-template-page-home {
	#main {
		background: $color__background-hr;
		overflow: hidden;
		@include tablet-up {
			 min-height: 600px;
		}
	}
	.slide-inner {
		width: 100%;
		height: 100%;
		position: relative;
		background-position: center center !important;
		background-repeat: no-repeat !important;
		background-size: cover !important;
	}
	.slide-inner-content {
		max-width: $size_site-width-lg;
		@include content-wrapper;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		@include tablet-up {
			&.left {
				text-align: left;
			}
			&.right {
				text-align: right;
			}
		}
		h2 {
			text-align: center;
			color: white;
			@include font-size(36px);
			line-height: 0.9;
			margin: 0.4em 0;
			@include tablet-up {
				@include font-size(96px);
				text-align: inherit;
			}
			@include desktop-up {
				@include font-size(120px);
			}
		}
	}
	.button-wrap a {
		/*display: block;
		max-width: 300px;*/
		margin: 0 auto 20px;
		@include tablet-up {
			display: inline-block;
			margin: 0 10px 0 0;
		}
	}
}
