@font-face {
	font-family: 'NovecentoSans';
	src: url('../fonts/Novecentosanswide-Light-webfont.eot');
	src: url('../fonts/Novecentosanswide-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Novecentosanswide-Light-webfont.woff2') format('woff2'), url('../fonts/Novecentosanswide-Light-webfont.woff') format('woff'), url('../fonts/Novecentosanswide-Light-webfont.ttf') format('truetype'), url('../fonts/Novecentosanswide-Light-webfont.svg#novecento_sans_widelight') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'NovecentoSans';
	src: url('../fonts/Novecentosanswide-Book-webfont.eot');
	src: url('../fonts/Novecentosanswide-Book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Novecentosanswide-Book-webfont.woff2') format('woff2'), url('../fonts/Novecentosanswide-Book-webfont.woff') format('woff'), url('../fonts/Novecentosanswide-Book-webfont.ttf') format('truetype'), url('../fonts/Novecentosanswide-Book-webfont.svg#novecento_sans_widebook') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'NovecentoSans';
	src: url('../fonts/Novecentosanswide-Normal-webfont.eot');
	src: url('../fonts/Novecentosanswide-Normal-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Novecentosanswide-Normal-webfont.woff2') format('woff2'), url('../fonts/Novecentosanswide-Normal-webfont.woff') format('woff'), url('../fonts/Novecentosanswide-Normal-webfont.ttf') format('truetype'), url('../fonts/Novecentosanswide-Normal-webfont.svg#novecento_sans_widenormal') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NovecentoSans';
	src: url('../fonts/Novecentosanswide-Medium-webfont.eot');
	src: url('../fonts/Novecentosanswide-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Novecentosanswide-Medium-webfont.woff2') format('woff2'), url('../fonts/Novecentosanswide-Medium-webfont.woff') format('woff'), url('../fonts/Novecentosanswide-Medium-webfont.ttf') format('truetype'), url('../fonts/Novecentosanswide-Medium-webfont.svg#novecento_sans_widemedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'NovecentoSans';
	src: url('../fonts/Novecentosanswide-DemiBold-webfont.eot');
	src: url('../fonts/Novecentosanswide-DemiBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Novecentosanswide-DemiBold-webfont.woff2') format('woff2'), url('../fonts/Novecentosanswide-DemiBold-webfont.woff') format('woff'), url('../fonts/Novecentosanswide-DemiBold-webfont.ttf') format('truetype'), url('../fonts/Novecentosanswide-DemiBold-webfont.svg#novecento_sans_widedemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'NovecentoSans';
	src: url('../fonts/Novecentosanswide-Bold-webfont.eot');
	src: url('../fonts/Novecentosanswide-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Novecentosanswide-Bold-webfont.woff2') format('woff2'), url('../fonts/Novecentosanswide-Bold-webfont.woff') format('woff'), url('../fonts/Novecentosanswide-Bold-webfont.ttf') format('truetype'), url('../fonts/Novecentosanswide-Bold-webfont.svg#novecento_sans_wide_bookbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

* {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(14px);
	line-height: $font__line-height-body;
	@include tablet-up {
		@include font-size(16px);
	}
}

.pure-g div[class *="pure-u"] {
	font-family: $font__main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font__heading;
	color: black;
	text-transform: uppercase;
	clear: both;
}

h1 {
	@include font-size(28px);
	@include tablet-up {
		@include font-size(48px);
	}
	@include desktop-up {
		@include font-size(60px);
	}
}

h2 {
	@include font-size(18px);
	@include tablet-up {
		@include font-size(28px);
	}
	@include desktop-up {
		@include font-size(32px);
	}
}

p {
	margin: 0.75em 0;
	&.featured-text {
		@include font-size(18px);
		@include desktop-up {
			@include font-size(24px);
		}
	}
	&.intro {
		color: black;
		font-family: $font__intro;
		text-transform: uppercase;
		@include font-size(18px);
		@include tablet-up {
			@include font-size(20px);
		}
	}
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(15px);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: $font__code;
	@include font-size(15px);
}

abbr,
acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark,
ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

blockquote,
q {
	quotes: "" "";
	&:before,
	&:after {
		content: "";
	}
}

.fine-print {
	@include font-size(12px);
}
